.container{
	display: flex;
	flex-direction: column;
	padding: 1.6rem 1.6rem;

	.dropdown-title{
		// position: relative;
		font-size: 1.4rem;
    line-height: 2.2rem;
		// color: aqua;
	}

	.dropdown-btn{
    border-radius: 0.8rem;
		// border-bottom: block;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-width: 13.6rem;
    height: 4.3rem;
    border: 0.2rem solid #696969;
    cursor: pointer;

		&:hover{
			background: rgba(0,0,0,0.2);
		}

		span{
			// position: relative;
			font-size: 1.6rem;
			line-height: 2.6rem;
			padding: 0 1.0rem;
			// color: aqua;
		}

		&:focus{
			outline: none;
		}


		.filter-sort-icon{
			padding: 0 0.5rem;
		}
	}

	.dropdown-content{
		top: 11.5rem;
    border-radius: 0.8rem;
		display: flex;
		flex-direction: column;
		// width: 11.3rem;
		position: absolute;
    height: auto;
    border: 0.2rem solid #696969;
    // border-bottom-left-radius: 0.8rem;
    // border-bottom-right-radius: 0.8rem;
		background: #FFFFFF;
		z-index: 10;
		
		.item{
			padding: 0.2rem 1.0rem;
			font-size: 1.6rem;
			line-height: 2.8rem;
			display: block;
			text-decoration: none;
			color: #282828;
			// border-radius: 0.8rem;
			cursor: pointer;
			// background-color: aqua;

			&:hover{
				background: #696969;
			}
		}

	}


}