.org-section{
	color: #282828;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	
	.org-info-container{
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
    height: 44rem;
    background: #f1f1f1;
		padding-top: 8.1rem;
		text-align: center;
		
		.org-description{
			font-size: 3.5rem;
			line-height: 5.6rem;
			width: 80rem;
		}

		.org-location{
			font-size: 2.4rem;
			line-height: 3.8rem;
    	text-align: center;
    	padding-top: 5.0rem;
		}
	}

	.repo-info-container{
		display: flex;
    flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 81rem;
		left: calc(50% - 80rem/2);
		position: relative;
    padding: 3.0rem 0;

		.org-repo-count{
			font-size: 3.2rem;
			height: 5.1rem;
			line-height: 5.1rem;
			// padding: 2.5rem 1.6rem 0 1.6rem;
		}

		//temporary styling until dropdown components are completed
		.filter-sort-container{
			display: flex;
			flex-direction: row;
			justify-content: right;
			width: 46rem;
			
			.filter-dropdown{
				// float: right;
				font-size: 3.2rem;
				height: 5.1rem;
				line-height: 5.1rem;
			}

			.sort-dropdown{
				font-size: 3.2rem;
				height: 5.1rem;
				line-height: 5.1rem;
				// float: right;
			}
		}
	}

	.page-numbers{
		position: relative;
		width: 81rem;
		height: 5rem;
		left: calc(50% - 81rem/2);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		& > * {
			// background-color: blue;
			line-height: 5rem;
			font-size: 1.5rem;
		}

	}
}